<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBasicIntegration" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_IBasicDespatchIntegration" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://efatura.uyumsoft.com.tr/Services/BasicIntegration"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBasicIntegration"
          contract="Uyumsoft.IBasicIntegration" name="BasicHttpBinding_IBasicIntegration" />
      <endpoint address="http://efatura.uyumsoft.com.tr/Services/BasicDespatchIntegration"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBasicDespatchIntegration"
          contract="Despatch.IBasicDespatchIntegration" name="BasicHttpBinding_IBasicDespatchIntegration" />
    </client>
  </system.serviceModel>
</configuration>
